span {
  margin-right: 1em;
  font-size: 3em;
}

section {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}


header {
  text-align: left;
  background: red;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left:3em;
}

.guess_text {
  float: left;
  margin-right: 1em;
  font-size: 1em !important;
}
